<div>
  <%= form_for @blog, html: { multipart: true } do |f| %>
    <%= f.label :image %>
    <%= f.file_field :image %><br>
    <%= f.label :title %><br>
    <%= f.text_field :title, class: '' %><br>
    <%= f.label :body %><br>
    <%= f.text_area :body, class: "" %><br>
    <%= f.submit :create %>
  <% end %>
</div>
