<main>
  <article id="about-container">
    <h1> <%= image_tag "rubyIcon.png", alt: "Ruby Pointer", id: "ruby-pointer" %> Who I am</h1>
    <p>
       The web has opened limitless possibilities and its up to me to discover them. My favorite languages to develop in are <strong>Ruby</strong> and <strong>Javascript</strong>. Keeping users interested as they browse is a main focus when I develop. I've worked with many small businesses and freelancers to create the app (or pages) they really deserve, and I can do that for you too.
    </p>
  </article>

  <article id="project-container">
    <h1> <%= image_tag "rubyIcon.png", alt: "Ruby Pointer", id: "ruby-pointer" %>Projects</h1>

    <% @project.each do |project| %>

    <div class="project">
      <!-- Insert Image here-->
      <%= image_tag(project.image, style: "width: 100%; height: 50%;") %>
      <section style="color: black">
      <!-- Insert Title and Body Text -->
      <p>
        <%= project.title %>
      </p>
      <p>
        <%= project.body %>
      </p>
      </section>
    </div>
    <% end %>

    <!-- <section id="cards">
      <div class="js card">
        <%= image_tag "UCvideo.gif", alt: "first JS project", data: {language: 'Javascript'}, id: "uc-gif" %>
        <div class="info">
          <h2>Under Construction Page</h2>
          <p>
            <em>Features:</em>
            <p>Collision detection (jQuery)</p>
            <p>Mailer Contact form</p>
          </p>
        </div>
      </div>

      <div class="ruby card">
        <%= image_tag "", alt: "first Ruby project", data: {language: 'Ruby'} %>
        <div class="info">
          <h2>Ruby on Rails Blog</h2>
          <p>
            <em>Features:</em>
            <p>RESTful Ruby on Rails Blog</p>
            <p>User Authentication and Registration</p>
          </p>
        </div>
      </div>
    </section> -->
  </article>
</main>
